<?xml version="1.0" encoding="UTF-8" ?>
<!--

    **********************************************************************
    Copyright (c) 2021 .
    All rights reserved.
    项目名称：framework-integration-cache-caffeine
    版权说明：原创不易，传播请注明出处
    ***********************************************************************

-->
<configuration debug="false" xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <conversionRule conversionWord="customcolor" converterClass="com.huilong.color.LogbackColorful"/>


    <conversionRule conversionWord="classNameColor" converterClass="com.huilong.color.LogbackClassNameColorful"/>



    <!--输出到控制台-->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}:%line - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="colorConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %classNameColor(%logger{36}:%line) - %customcolor(%msg) %n</pattern>
        </encoder>

    </appender>

    <logger name="org.springframework"/>

    <logger name="com.huilong" additivity="false">
        <appender-ref ref="colorConsole"/>
    </logger>

    <root level="debug">
        <appender-ref ref="console" />
    </root>

    <!--<include file="/tmp/logback-demo.xml"/>-->

</configuration>