<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false" xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">


    <!--输出到控制台-->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36}:%line - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" />

    <root level="trace">
        <appender-ref ref="console"/>
    </root>

    <!--<include file="/tmp/logback-demo.xml"/>-->

</configuration>